<style>
    @import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&family=Zen+Kurenaido&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

 <div class="container" id="main-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color:white; font-family: 'Quintessential', cursive; font-size: 20px;">Customer Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <button class="nav-link" style="color: black; font-family: 'Lobster', cursive; font-size: 20px;"  (click)="onOpenModal(null, 'add')">Add Customer <span class="sr-only">(current)</span></button>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input type="search" (ngModelChange)="searchCustomers(key.value)" #key="ngModel" ngModel 
                style="font-family: 'Indie Flower', cursive; font-size: 20px;" name="key" id="searchName" class="form-control mr-sm-2"
                    placeholder="Search customers..." required>
            </form>
        </div>
    </nav>

    <br>

    <div class="row">
        <div *ngFor="let customer of customers" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL8btW9OIhAsU_boUBEs1Vg3p8aXpaxl6dRg&usqp=CAU" alt=""
                                class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5 style="font-family: 'Source Code Pro', monospace; font-family: 'Zen Kurenaido', sans-serif;" >{{customer?.fname}}</h5>
                        <p class="m-0 fa fa-book" style="font-family: 'Source Code Pro', monospace; font-family: 'Zen Kurenaido', sans-serif;"> {{customer?.category}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-family: 'Source Code Pro', monospace; font-family: 'Zen Kurenaido', sans-serif;"><i class="fa fa-envelope float-right"> {{customer?.emailaddresses}}</i>
                    </li>
                    <li class="list-group-item" style="font-family: 'Source Code Pro', monospace; font-family: 'Zen Kurenaido', sans-serif;"><i class="fa fa-hand-o-left float-right"></i>City: {{customer?.city}}
                    </li>
                    <li class="list-group-item" style="font-family: 'Source Code Pro', monospace; font-family: 'Zen Kurenaido', sans-serif;"><i class="fa fa-globe float-right"></i>Country: {{customer?.country}}
                    </li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a href="#" (click)="onOpenModal(customer, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i></a>  
                        &nbsp;
                        <a href="#" (click)="onOpenModal(customer, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                class="tooltips" href="" data-original-title="Facebook"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Add Customer Modal -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomereModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="font-family: 'Dancing Script', cursive;" class="modal-title" id="addCustomerModalLabel">Add Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddCustomer(addForm)">
                    <div class="form-group">
                        <label for="fname">Name and Surname</label>
                        <input type="text" ngModel name="fname" class="form-control" id="fname" placeholder="Name and Surnmae"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="emailaddresses">Email Address</label>
                        <input type="email" ngModel name="emailaddresses" class="form-control" id="emailaddresses"
                            placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input type="text" ngModel name="category" class="form-control" id="category"
                            placeholder="Category" required>
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" ngModel name="city" class="form-control" id="city" placeholder="City"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" ngModel name="country" class="form-control" id="country"
                            placeholder="country" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-customer-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" id="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="updateCustomerModal" tabindex="-1" role="dialog" aria-labelledby="customerditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="font-family: 'Dancing Script', cursive;" class="modal-title" id="updateCustomerModalLabel">Edit Customer {{editCustomer?.fname}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="name">Name and Surname</label>
                        <input type="text" ngModel="{{editCustomer?.fname}}" name="fname" class="form-control" id="fname" aria-describedby="emailHelp"
                            placeholder="Name and Surname">
                    </div>
                    <input type="hidden" ngModel="{{editCustomer?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                    
                    <div class="form-group">
                        <label for="emailaddresses">Email Address</label>
                        <input type="email" ngModel="{{editCustomer?.emailaddresses}}" name="emailaddresses" class="form-control" id="emailaddresses"
                            placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input type="text" ngModel="{{editCustomer?.category}}" name="category" class="form-control" id="category" placeholder="Category">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" ngModel="{{editCustomer?.city}}" name="city" class="form-control" id="city" name="city" placeholder="City">
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" ngModel="{{editCustomer?.country}}" name="country" class="form-control" id="country" placeholder="country">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                        <button (click)="onUpdateCustomer(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="font-family: 'Dancing Script', cursive;" class="modal-title" id="deleteModelLabel">Delete Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete customer {{deleteCustomer?.fname}}?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteCustomer(deleteCustomer?.id)" class="btn btn-danger"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification for no customers -->
<div *ngIf="customers?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert" style="font-family: 'Courgette', cursive; font-size: 20px;">
        <h4 class="alert-heading">NO customers?!</h4>
        <p>No Customers were found.</p>
    </div>
</div>